footer {
  margin-top: auto;
}

.about__text {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  padding: 20px 50px;
}

.about__inner {
  margin-bottom: 50px;
}

.general__title .margin {
  padding-top: 300px;
}

.about__text.center {
  text-align: center;
}

.back__link__container {
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow__left {
  width: 30px;
}

.back__link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  margin-left: 10px;
}

.back__link:hover {
  text-decoration: underline;
}