.advantages {
    background-image: url(../img/advantBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.advantages__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 100px ;
}

.advantages__item {
    min-width: 380px;
    height: 300px;
    background-color: #d3d3d3;
    margin-bottom: 80px;
    border-radius: 10px;
}

.advantages__img {
    display: block;
    margin: 30px auto;
}

.advantages__text {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.1;
}

.advantages__text2 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    color: #f3f3f3;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    

    .white__title {
        font-size: 28px;
    }

    .advantages__text2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    

    .white__title {
        font-size: 28px;
        padding-top: 50px;
    }

    .advantages__text2 {
        font-size: 15px;
        line-height: 1.4;
    }

    .advantages__items {
        justify-content: center;
    }
}

@media (max-width: 430px) {
    
    .white__title {
        font-size: 26px;
        padding-top: 30px;
    }

    .advantages__item {
        min-width: 320px;
        height: 280px;
        background-color: #d3d3d3;
        margin-bottom: 40px;
        border-radius: 10px;
}

    .advantages__text {
        font-size: 17px;
        line-height: 1.1;
    }

    .advantages__text2 {
        font-size: 14px;
        line-height: 1.4;
        padding: 0 20px 50px 20px;
    }

    .advantages__items {
        justify-content: center;
    }

    
}