.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgba(51, 51, 51, 0.95);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0 100px;
}

.footer__logo img {
  width: 100px;
}

.footer__text {
  font-size: 18px;
  font-weight: 400;
  color: #f3f3f3;
  text-align: right;
  line-height: 1.3;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #f3f3f3;
  text-align: right;
  line-height: 1.3;
}

.footer__nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.footer__nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #f3f3f3;
  font-weight: 500;
  margin-left: 110px;
}

.footer__nav__link:first-child {
  margin-left: 0;
}

.footer__nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ce2d2d;
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 1;
  transition: width 0.2s linear;
  transform: translateX(-50%);
}

.footer__nav__link:hover::after {
  width: 140%;
}

.contacts__inner a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #f3f3f3;
}

@media (max-width: 1024px) {
    .footer__nav {
      display: none;
    }
  }

  @media (max-width: 430px) {
    .footer__inner {
      padding: 0 20px;
    }

    .footer__text {
      font-size: 14px;
      
    }

    .footer__copyright {
      font-size: 14px;
    }
}