.form__block {
  width: 550px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-radius: 15px;
}

.form__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--textColor);
  padding: 15px 30px;
  line-height: 1.3;
}

.form_block--title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  padding-top: 35px;
}

.form_inner {
  margin-top: 10px;
  padding: 0 20px;
}

.form_inner p {
  font-size: 18px;
  color: #333333;
  font-weight: 300;
}

.form_inner input {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: gilroy;
  font-size: 16px;
  font-weight: 500;
  width: 412px;
  height: 49px;
  border-radius: 5px;
  border: none;
  background-color: #e9e9e9;
  outline: none;
}

.phone__area {
  opacity: 1;
  margin-top: 0;
  transition: .3s linear;
}

.email__area {
  opacity: 0;
  margin-bottom: -20px;
  transition: .3s linear;
}

.form_inner input:focus {
  border: 1px solid #bcd2e6;
  outline: none;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
  font-size: 16px;
  font-family: gilroy;
  font-weight: 400;
  opacity: 0.7;
}

::-moz-placeholder {
  color: #a3a3a3;
  font-size: 16px;
  font-family: gilroy;
  font-weight: 400;
  opacity: 0.7;
}

:-moz-placeholder {
  color: #a3a3a3;
  font-size: 16px;
  font-family: gilroy;
  font-weight: 400;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #a3a3a3;
  font-size: 16px;
  font-family: gilroy;
  font-weight: 400;
  opacity: 0.7;
}

.form_choice ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0;
}

.form_choice ul li {
  background-color: #fff;
  font-family: gilroy;
  font-size: 15px;
  color: #333333;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  padding: 15px 30px;
  margin-top: 10px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

.form_choice ul li:last-child {
  border-radius: 0 5px 5px 0;
}

.form_choice ul li:nth-child(2) {
  border-radius: 0;
}

.form_choice .call:hover {
  background: linear-gradient(90deg, #ffa442, #ffc280);
  color: #fff;
  font-weight: 400;
  border-color: linear-gradient(90deg, #ffa442, #ffc280);
  color: var(--textColor);
}

.form_choice .call:focus,
.form_choice .call.selected {
  background: linear-gradient(90deg, #ffa442, #ffc280);
  color: #fff;
  font-weight: 400;
  border-color: linear-gradient(90deg, #ffa442, #ffc280);
  color: var(--textColor);
  font-weight: 600;
}

.form_choice .email:hover {
  background: linear-gradient(90deg, #68bd6f, #7ed371);
  color: #fff;
  font-weight: 400;
  color: var(--textColor);
}

.form_choice .email:focus,
.form_choice .email.selected {
  background: linear-gradient(90deg, #68bd6f, #7ed371);
  color: #fff;
  color: var(--textColor);
  font-weight: 600;
}

.form_choice .telegram:hover {
  background: linear-gradient(90deg, #579ad4, #6aabe7);
  color: #fff;
  font-weight: 400;
  color: var(--textColor);
}

.form_choice .telegram:focus,
.form_choice .telegram.selected {
  background: linear-gradient(90deg, #579ad4, #6aabe7);
  color: #fff;
  color: var(--textColor);
  font-weight: 600;
}

.form_submit {
  display: block;
  margin: 0 auto;
}

form .form_btn--send {
  display: block;
  width: 300px;
  margin: 30px auto 0 auto;
  padding: 18px 0;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to top, #ffb533, #ffe324);
  box-shadow: inset 0 2px 2px 0 #fadcbc, 0 2px 2px rgba(128, 76, 9, 0.5);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--textColor);
  text-transform: uppercase;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  pointer-events: none;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s linear;
}

.form_btn--send.active {
  pointer-events: auto;
  opacity: 1;
}

form .form_btn--send:active {
  position: relative;
  top: 2px;
}

.form_btn--send:hover {
  background: linear-gradient(to top, #f0a92f, #ffe324);
}

.form_btn--clear {
  display: block;
  margin: 30px auto 12px auto;
  width: 165px;
  padding: 10px 0;
  outline: none;
  font-size: 14px;
  font-family: gilroy;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.2px;
  color: #444444;
  border: 2px solid #e29393;
  border-radius: 5px;
  background: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.2s linear;
}

form .form_btn--clear:hover {
  border-color: #a24444;
}

form .form_btn--clear:active {
  position: relative;
  top: 2px;
}

.policy_item {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 20px;
}

.policy_item a {
  color: #444444;
}

@media (max-width: 430px) {
  .form {
    padding-bottom: 10px;
  }

  .form__subtitle {
    font-size: 16px;
    padding: 10px 40px;
  }

  .form_inner {
    padding: 0;
  }

  .form_inner p {
    font-size: 16px;
    text-align: center;
  }

  .form_inner input {
    display: block;
    width: 250px;
    margin: 10px auto 40px auto;
  }

  .form_choice ul li {
    padding: 15px 15px;
    font-size: 14px;
  }

  form .form_btn--send {
    width: 250px;
    padding: 20px 0;
    font-size: 14px;
  }
}