footer {
  margin-top: auto;
}

.gallery__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.gallery__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.gallery__item {
  margin-bottom: 40px;
  padding: 0 20px;
  transition: .1s linear;
}

.gallery__item a {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #333333;
}

.gallery__item:hover {
  text-decoration: underline;
  transform: scale(1.02);
  transition: .1s linear;
}

.back__link__container {
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow__left {
  width: 30px;
}

.back__link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  margin-left: 10px;
}

.back__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .gallery__items {
    justify-content: center;
  }

  .gallery__item {
    padding: 0 60px;
  }
}

@media (max-width: 430px) {
  
  .gallery__item img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .gallery__item p {
    margin-top: 10px;
    font-size: 20px;
  }
  
}

@media (max-width: 375px) {

  .gallery__item p {
    margin-top: 10px;
    font-size: 16px;
  }
  
}