.intro {
    background-image: url(../img/introBackground.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-height: 1100px;
    padding-top: 350px;
    top: 0;
    left: 0;
}

.intro__title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 95px;
    line-height: 1.1;
}

.intro__subtitle {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 95px;
    margin-top: 40px;
}

@keyframes move {
    from {
        transform: translateX(-100px) skewX(69deg);
    }
    to {
        transform: translateX(1000px) skewX(69deg);
    }
}

.btn__main {
    margin: 50px 0 300px 290px;
    display: inline-block;
    width: 340px;
    padding: 25px 0;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #f3f3f3;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    border: none;
    border-radius: 7px;
    background: linear-gradient(15deg, #d32934, 30%, #bb4141, 70%, #932129);
    box-shadow:
        inset 0 1px 1px 0 #e67676,
        0 2px 1px 0 #651414;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.btn__main:active {
    position: relative;
    top: 2px;
}

.btn__main:before {
    content: '';
    width: 35px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateX(-3em) skewX(45deg);
    animation: move 3s infinite;
    animation-timing-function: cubic-bezier;
    filter: blur(15px);
}

.btn__main:hover {
    background: linear-gradient(15deg, #b4212b, 30%, #bb4141, 70%, #70181e);
}

/* =============================Media========================== */

@media (max-width: 1440px) {
    .intro__title {
        font-size: 60px;
    }

    .intro__subtitle {
        font-size: 38px;
    }

    .btn__main {
        width: 260px;
        padding: 20px 0;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .intro__inner {
        padding-top: 150px;
    }

    .intro__title {
        font-size: 50px;
    }

    .intro__subtitle {
        font-size: 34px;
    }

    .btn__main {
        width: 260px;
        padding: 20px 0;
        font-size: 16px;
        margin: 50px auto 70px auto;
        display: block;
    }

    .intro__title {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .intro__subtitle {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 768px) {

    .intro__title {
        font-size: 45px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .intro__subtitle {
        font-size: 30px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .btn__main {
        width: 260px;
        padding: 20px 0;
        font-size: 16px;
        margin: 50px auto 40px auto;
        display: block;
    }
}

@media (max-width: 430px) {
    .intro__title {
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
    }

    .intro__subtitle {
        font-size: 18px;
        margin: 20px auto;
        padding: 0 10px;
        text-align: center;
    }

    .btn__main {
        width: 260px;
        padding: 20px 0;
        font-size: 16px;
        margin: 50px auto 40px auto;
        display: block;
    }

    .intro__title {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .intro__subtitle {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 375px) {
    .intro__title {
        font-size: 26px;
    }

    .intro__subtitle {
        font-size: 16px;
    }
}