@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.ttf");
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
}

body.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1443px;
  margin: 0 auto;
}

.otherContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.general__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 80px;
}

.general__title.margin {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 30px;
}

.white__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  color: #f3f3f3;
  margin-bottom: 30px;
  padding-top: 80px;
}

#top {
    opacity: 0;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 999;
    color: #7C9F9B;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: color .5s linear 0s;
    text-decoration: none;
    transition: .3s linear;
}

#top.visible {
  opacity: 1;
}

#top img {
  width: 130%;
}

#top:hover, #top:focus {
    text-decoration: none;
    outline: 0;
    color: #193F3B;
}

@media (max-width: 430px) {
  #top {
    bottom: 50px;
    left: 20px;
  }
}

@media (max-width: 375px) {
  #top {
    bottom: 50px;
    left: 10px;
  }

  #top img {
  width: 110%;
}
}

@media (max-width: 375px) {
  #top {
    bottom: 50px;
    left: 5px;
  }

  #top img {
  width:80%;
}
}