.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 2000;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
}

.popup__content {
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 100%;
    max-width: 550px;
    color: #444444;
    font-family: gilroy;
    padding: 30px 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close img {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 20px;
    height: 20px;
    transition: .3s linear;
}

.popup__close img:hover {
    transform:rotate(90deg);
}

.popup__title {
    font-size: 22px;
    font-weight: 500;
    font-family: gilroy;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

.popup__text {
    margin-top: 45px;
    font-size: 19px;
    font-weight: 400;
    font-family: gilroy;
    color: #444444;
    text-align: center;
}

@media (max-width: 430px) {
  .popup__content {
    padding: 10px 10px;
  }
}