footer {
  margin-top: auto;
}

.requisites__inner {
    margin: 50px auto;
    width: 100%;
    max-width: 1150px;
    background-color: #fff;
    border-radius: 10px;
}

.requisites__text {
    font-size: 20px;
    font-weight: 500;
    padding: 35px 35px;
}