.services {
    margin-top: 70px;
}

.services__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.services__item {
    min-width: 33.3%;
    margin-bottom: 80px;
    cursor: pointer;
    transition: .1s linear;
}

.item__img {
    width: 350px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.services__item:hover {
    transform: scale(1.03);
    transition: .1s linear;
    text-decoration: underline;
}

.item__text {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}

.item__text a {
    color: #333333;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .services__item {
        min-width: 40%;
    }

    .services__item:hover {
        transform: none;
        transition: .1s linear;
        text-decoration: none;
    }

    .item__text {
        font-size: 20px;
        margin-top: 15px;
    }

    .general__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .white__title {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .services__item {
        min-width: 100%;
    }

    .services__item:hover {
        transform: none;
        transition: .1s linear;
        text-decoration: none;
    }

    .item__text {
        font-size: 20px;
        margin-top: 15px;
    }

    .general__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .white__title {
        font-size: 28px;
    }
}

@media (max-width: 430px) {
    .services__item {

        margin-bottom: 30px;

}

    .services__item img {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }

    .item__text {
        font-size: 18px;
    }

    .item__img a {
        max-width: 300px;
    }

    
}