footer {
  margin-top: auto;
}

.servicesIn__text {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.servicesIn__text p {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  padding: 20px 50px;
}

.about__inner {
  margin-bottom: 50px;
}

.general__title .margin {
  padding-top: 300px;
}

.servicesIn__items {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px auto 100px auto;

}

.servicesIn__item {
  min-width: 45%;
  max-height: 380px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.back__link__container {
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow__left {
  width: 30px;
}

.back__link {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  margin-left: 10px;
}

.back__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
    

    .servicesIn__items {
      justify-content: center;
    }
}

@media (max-width: 430px) {
  .servicesIn__items {
    max-width: 600px;
    margin: 20px auto 20px auto;
  }

  .servicesIn__item {
    margin-bottom: 20px;
    height: 200px;
  margin-bottom: 80px;

  }

  .servicesIn__item img {
    max-width: 80%;
    display: block;
    margin: 0 auto;

  }
}